<html>
    <head>
        <title>Sasha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 8.03.2019, 17:35</p>
            <h2><a href="">Мой дядя самых честных правил</a></h2>
            <p>Когда не в шутку занемог он уважать себя заставил и лучше выдумать не мог</p>
        </div>

        <div>
            <p>published: 8.03.2019, 17:36</p>
            <h2><a href="">Его пример - другим наука</a></h2>
            <p>Но боже мой, какая скука с больным сидеть и день и ночь не отходя ни шагу прочь!</p>
        </div>
    </body>
</html>
